.hover-button {
    background-color: #ff66b2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border: 3px solid #ff66b2; 
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.hover-button:hover {
    background-color: #6b3468;
    border-color: #6b3468;
}